<div class="container-fluid">
  <div class="row-fluid">
    
    <div class="span3">
      This is vijay
    </div>
    
    <div class="span8">
      <div class="public_notes_container">
        <h4 class="muted text-center">Free download Notes</h4>
        <div class="row-fluid span12"> 
          <% @public_notes.each_with_index do |public_notes,index| %>
            <div class="offset1 span2">
              <div class="image_loading_ajax" id=<%= public_notes.id %> >
                <div class="image_ajax_loader"><%= image_tag("ajax_loader.gif", :height=>"20px") %></div>
              </div>
              <div class="row-fluid span12"><%= truncate public_notes.description, length: 50 %></div>
              <div class="row-fluid"> <a href="#" class="btn btn-success btn-small"><i class="icon-white icon-book"></i> Download!</a></div>
            </div>
            <%if ((index+1)%4==0)%>
              </div> <div class="row-fluid"> 
            <%end%>
          <%end%>
          </div> <!--close the last row -->
      </div>

      <div class="public_notes_container">
        <h4 class="muted text-center">Purchase and Download Notes</h4>
        <div class="row-fluid"> 
          <% @chargeable_notes.each_with_index do |chargeable_note,index| %>
            <div class="offset1 span2">
              <div class="image_loading_ajax" id=<%= chargeable_note.id %> >
                <div class="pull-left image_ajax_loader"><%= image_tag("ajax_loader.gif", :height=>"20px") %></div>
              </div>
              <div class="row-fluid span12 green_font margin-top-row-notes-price">RS <%=chargeable_note.price %> /-</div>
              <div class="text-left row-fluid span12"><%= truncate chargeable_note.description, length: 50 %></div>
              <div class="row-fluid"> <a href="#" class="btn btn-success btn-small"><i class="icon-white icon-book"></i> Buy!</a></div>
            </div>
            <%if ((index+1)%4==0)%>
              </div> <div class="row-fluid"> 
            <%end%>
          <%end%>
          </div> <!--close the last row -->
      </div>

    </div>

  <%= render :partial=>"notes/public_notes_image" %>
  </div>
</div>