<div class="ajax_loader_image"></div>
<div class="container-fluid">
  <div class="row-fluid">
    
    <div class="span3">
      This is vijay
    </div>
    
    <div class="span8">
      <div class="public_notes_container">
        <h4 class="muted text-center">Free download Notes</h4>
        <div id="myCarousel" class="carousel slide row-fluid"> 
          <div class="carousel-inner">
            <div class="item active offset1">
              <% @public_notes.each_with_index do |public_notes,index| %>
                <%if (index)%4==0 and index!=0%>
                  </div><div class="item offset1">    
                <%end%>
                  <div class="row-fluid span3">
                    <div class="image_loading_ajax" id="<%= public_notes.id %>" >
                      <div class="image_ajax_loader"><div class="loading_image_please_wait"><%= image_tag("loading_image.gif", :height=>"150px") %></div>
                      </div>
                    </div>
                    <%#public_notes.mynotes_file.url(:download => true)%>
                    <div style="margin-top:10px;"><%= truncate public_notes.title, length: 50 %> </div>
                    <div style="margin-top:10px;"><%= link_to "#" ,:class=>"btn btn-success btn-small free_download",:public_notes_id=>encoding_notes_id(public_notes.id) do%>
                      <i class="icon-white icon-book"></i> Download! <%end%>
                    </div>
                  </div>
              <%end%>  
            </div>
          </div>
          <!-- Carousel nav -->  
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">‹</a>  
          <a class="carousel-control right" href="#myCarousel" data-slide="next">›</a> 
        </div>
      </div>

      <div class="public_notes_container">
        <h4 class="text-center"><span class="muted cross_line">Purchase and Download Notes</span><span class="offer"><b style="color:blue !important"> Offer</b> Free download notes</span><%=image_tag "offer.gif" %></h4>
        <div id="purhaseCarousel" class="carousel slide row-fluid"> 
          <div class="carousel-inner">
            <div class="item active offset1">
              <%if @chargeable_notes.blank? %><h3 class="muted text-center">No Notes is available</h3> <%end%>
              <% @chargeable_notes.each_with_index do |chargeable_note, index| %>
                <%if (index)%4==0 and index!=0%>
                  </div><div class="item offset1">    
                <%end%>
                <div class="row-fluid span3">
                  <div class="image_loading_ajax" id="<%= chargeable_note.id %>" >
                    <div class="image_ajax_loader">
                      <div class="loading_image_please_wait"><%= image_tag("loading_image.gif", :height=>"150px") %>
                      </div>
                    </div>
                  </div>
                  <div class="green_font margin-top-row-notes-price">RS <%=chargeable_note.price %> /-</div>
                  <div style="margin-top:10px;"><%= truncate chargeable_note.title, length: 50 %> </div>
                  <div style="margin-top:10px;"><a href="#" class="btn btn-success btn-small"><i class="icon-white icon-book"></i> Buy!</a></div>
                  </div>
              <%end%>  
            </div>
          </div>
          <!-- Carousel nav -->  
          <a class="carousel-control left" href="#purhaseCarousel" data-slide="prev">‹</a>  
          <a class="carousel-control right" href="#purhaseCarousel" data-slide="next">›</a> 
        </div>
      </div>

    </div>
      
  <%= render :partial=>"notes/public_notes_image" %>
  </div>
</div>
<%= render :partial=>"notes/download_modal" %>
